.transaction__list {
  list-style: none;
  margin: 0 35px;
  padding: 0;
}

.transaction__list-empty {
  margin: 35px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction__list-empty span {
  margin-left: 5px;
  color: var(--main-app-color);
}

.transaction__list li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.transaction__list li:hover {
  background-color: #F7F7F7;
}

.transaction__list li:hover .transaction__list-delete {
  opacity: 1;
}

.transaction__list-description {
  display: flex;
  flex: 1;
}

.transaction__list-badge {
  border: 1px solid;
  font-size: 12px;
  width: 80px;
  text-align: center;
}

.transaction__list-badge--credit {
  border-color: var(  --credit-color);
  color: var(  --credit-color);
}

.transaction__list-badge--debit {
  border-color: var(--debit-color);
  color: var(--debit-color);
}

.transaction__list-value {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.transaction__list-delete {
  background-color: var(--main-app-action-color);
  color: #FFF;
  padding: 1px 8px;
  font-weight: 600;
  text-align: right;
  margin-right: 30px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in-out;
}
