.btn {
  background-color: var(--main-app-action-color);
  font-weight: 600;
  color: #FFF;
  border: 0 none;
  height: 30px;
  width: 90px;
  cursor: pointer;
  outline-color: var(--main-app-action-color);
  font-size: 12px;
}

.btn:hover {
  opacity: .8;
}
