.transaction-form {
  padding: 30px 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-form__input {
  height: 30px;
  padding: 0 10px;
  flex: 1;
  border: var(--form-border-color) 1px solid;
  outline-color: var(--main-app-action-color);
}

.transaction-form__input::placeholder {
  color: var(--form-border-color);
}

.transaction-form__input-desc {
  max-width: 200px;
}

.transaction-form__input-number {
  max-width: 130px;
  height: 30px;
  flex: 1;
}

.transaction-form__select {
  max-width: 150px;
  flex: 1;
  height: 30px;
  border-color: var(--form-border-color);
  background-color: #FFF;
}
