:root {
  --main-app-color: #3FCDCA;
  --main-app-secondary-color: #548483;
  --main-app-action-color: #16A0DF;
  --main-bg-color: #EBEBEB;

  --form-border-color:  #CCC;

  --income-color: var(--main-app-color);
  --expense-color: #CD3F3F;
  --income-hover-color: #E2FFFF;
  --expense-hover-color: #FFE2E2;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--main-bg-color);
  color: #555555;

  background-image: url('magnetis-silver.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center 95%;
}
